@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 /* customize things here */
 :root {

 /* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'SASA';

 /* color of status indicators and window controls */
	--online-indicator: var(--accent-2); /* change to #23a55a for default green */
	--dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

/* accent colors */
	--accent-1: hsl(190, 70%, 60%); /* links */
	--accent-2: hsl(190, 70%, 48%); /* general unread/mention elements */
	--accent-3: hsl(190, 70%, 42%); /* accent buttons */
	--accent-4: hsl(190, 70%, 36%); /* accent buttons when hovered */
	--accent-5: hsl(190, 70%, 30%); /* accent buttons when clicked */
	--mention: hsla(190, 80%, 52%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions & mention messages when hovered */

/* text colors */
        --text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
	--text-5: hsl(220, 15%, 25%); /* muted channels/chats and timestamps */

/* background and dark colors */
        --hover: hsla(230, 20%, 40%, 0.1); /* channels and buttons when hovered */
	--active: hsla(220, 20%, 40%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

 /* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */
}

/* color fix filters */
.container_a308ae:last-child .icon__28d6c /* explore discoverable servers icon color */ {
	background-color: #3ba55c;
	filter: var(--green-to-accent-3-filter);
}
.container_a308ae:first-child .icon__28d6c /* explore discoverable servers icon color */ {
	filter: var(--blurple-to-accent-3-filter);
}
.artwork__8fc92 /* filter login image */ {
	filter: var(--login-bg-filter);
}
 
/* change online indicator color */
rect[fill='#23a55a'],
svg[fill='#23a55a'] {
	fill: var(--online-indicator) !important;
}
.status__1c26d[style='background-color: rgb(35, 165, 90);'] {
	background-color: var(--online-indicator) !important;
}
rect[fill='#f0b232'],
svg[fill='#f0b232'] {
	fill: var(--idle-indicator);
}
.status__1c26d[style='background-color: rgb(240, 178, 50);'] {
	background-color: var(--idle-indicator) !important;
}
rect[fill='#f23f43'],
svg[fill='#f23f43'] {
	fill: var(--dnd-indicator);
}
.status__1c26d[style='background-color: rgb(242, 63, 67);'] {
	background-color: var(--dnd-indicator) !important;
}
rect[fill='#593695'],
svg[fill='#593695'] {
	fill: var(--streaming-indicator);
}
.status__1c26d[style='background-color: rgb(89, 54, 149);'] {
	background-color: var(--streaming-indicator) !important;
}

  /* list hover animations */
.wrapper__7bcde .link__95dc0 /* channels */,
.container__4f20e /* members */,
.channel_c21703 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
	transition: margin-left var(--list-item-transition);
}
.wrapper__7bcde:hover .link__95dc0,
.side_b4b3f6 .item__48dda:hover {
	margin-left: 10px;
}
.container__4f20e:hover,
.channel_c21703:hover {
	margin-left: 18px;
}

 /* spin hover animations */
button.button__4f306 /* make user panel buttons round */ {
	border-radius: 50%;
}
.button__4f306:last-child .contents_fb6220 /* settings button */, 
.attachButton_b1db83 .attachButtonInner__3ce2b /* upload button */,
.emojiButton__30ec7 .contents_fb6220 /* emoji button */,
.closeButton__34341 /* settings exit button */,
.contents_fb6220 > .closeIcon__5bab9 /* modal close */ {
	transition: transform var(--icon-spin-transition);
}
.button__4f306:last-child:hover .contents_fb6220,
.attachButton_b1db83:hover .attachButtonInner__3ce2b,
.emojiButton__30ec7:hover .contents_fb6220,
.closeButton__34341:hover,
.contents_fb6220:hover > .closeIcon__5bab9 {
	transform: rotate(360deg);

 /* modify colors */
#app-mount .container__590e2 /* channel list */,
.privateChannels__93473 /* dms list */,
#app-mount .container_ca50b9 /* user panel inner */,
.members__9f47b /* member list inner */,
.member_aa4760 /* member list members */,
.searchResultsWrap__9f374 /* search results */,
.searchHeader__19d87 /* search results header */,
.chat__52833.container_d3a736 /* message requests */,
#app-mount .panels__58331 > div /* user panel children */,
.container_d667ff /* vc panel */,
.sidebarRegionScroller__1fa7e /* settings left */,
#app-mount .container__10dc7 /* browse channels container */,
#app-mount .header__60bef /* browse channels header */,
#app-mount .container__7590f /* browse channels inner */,
.chat__52833.background_cb0a80 /* server guide body */,
#app-mount .scrollerContainer_bf5dbd /* channels and roles customize */,
.shop_b31ed2 /* shop */,
.wrapper_bd2abe.minimum_ebf000 /* private call */,
.container_e4c233, .container__7712a /* emoji/sticker and gif picker searchbars */,
#app-mount .uploadModal_eae2a0 /* upload modal */,
.uploadModal_eae2a0 .footer_ceda43 /* upload modal footer */ {
	background: var(--bg-4);
}
.mainCard__8a660 /* forum post */,
.navRow_bb8efc[data-theme=dark] /* add new account bottom */ {
	background: var(--bg-3);
}
.folderIconWrapper__72239[style="background-color: rgba(88, 101, 242, 0.4);"] /* default color closed folders */ {
	background: var(--bg-3) !important;
}
.folder__17546.hover__043de /* folder opened on hover */, 
#app-mount .outer_a41cf3.interactive__01cfa:hover, #app-mount .outer_a41cf3.active__76f42 /* friend activity cards on hover */ {
	background: var(--bg-2);
}
#app-mount .searchAnswer_b452e7, /* search filter answer */
#app-mount .searchFilter__118cb /* search filter */ {
	background: var(--bg-1);
}
.newChannel_f99b92 /* new channel */ {
	background: var(--bg-1) !important;
}
.chat__52833 /* chat + member list */,
.sidebar_ded4b5 /* channel sidebar */,
.privateChannels__93473 .scroller__4b984 /* dms list inner */,
#app-mount .innerHeader_afca2f:after /* channels and roles header shadow */,
.attachedBars_da3c74 /* reply bar underneath */ {
	background: none;
}
.selected__0b1ad .header__104ca, .clickable__2d589 .header__104ca:hover /* server name hover */ {
	background: var(--message-hover);
}
.message__80c10.replying_d7b6ad.selected_fd9051, .mouse-mode.full-motion .replying_d7b6ad:hover /* fix reply message hover */ {
	background: var(--background-message-highlight-hover);
}
div.message__80c10.replying_d7b6ad::before /* change reply message bar to neutral */ {
	background: var(--text-2);
}
.activeButtonChild__6e162 /* send button */ {
	color: var(--accent-2);
}
.container_ca50b9 /* user panel button strikethroughs */,
.numberBadge__50328 /* unread number badge */,
.toolbar__88c63 /* toolbar button strikethroughs */ {
	--status-danger: var(--accent-2);
}
.expandedFolderIconWrapper__458cf > svg[style="color: rgb(88, 101, 242);"] /* default color folder icons */ {
	color: var(--accent-3) !important;
}
.divider_b9338f /* unread divider */,
.mention__1afd3 /* NEW unread pill */,
.mentionsBar__4b47a /* channel list new mention pill */ {
	--status-danger: var(--accent-3);
}
.message__80c10.mentioned__58017:before /* mention message left edge */,
.botTagRegular_c89c9a /* OP tag */ {
	background: var(--accent-3);
}
.container__871ba.checked__6bdb0 /* settings checkbuttons */ {
	background: var(--accent-3) !important;
}
.mention__1afd3:active /* NEW unread pill when clicked */ {
	background: var(--accent-4);
}
path[fill='rgba(35, 165, 90, 1)'] {
	fill: var(--accent-3);
}
path[fill='var(--white-500)'] {
	fill: var(--text-0) !important;
}
.numberBadge__50328 /* dms number badge */,
.newMessagesBar__8b6d7 .barButtonBase__8fa46 /* unread bar */,
.botTagRegular_c89c9a /* bot tag */,
.endCap__95d53 /* unread divider */,
.lookFilled__19298.colorBrand_b2253e /* accent buttons */,
.lookFilled__19298.colorBrand_b2253e .defaultColor__77578 /* accent buttons */,
.lookFilled__19298.colorBrandNew_fd170a /* accent buttons */,
.lookFilled__19298.colorGreen__5f181 /* green buttons */,
.lookFilled__19298.colorRed_d6b062 /* red buttons */,
.lookFilled__19298.colorYellow_a62893 /* yellow buttons */,
.bar_edc096 /* NEW unread pill */,
.wrapper_d281dd:hover .childWrapper__01b9c, /* default server icon text */ 
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c /* default server icon text */,
.colorDefault__0b482.focused__27621 /* menu option hover */,
.colorDefault__0b482.focused__27621 .caret_ce50ce /* popup menu hover caret */,
.colorDefault__0b482:active:not(.hideInteraction__2790e) /* menu option active */,
.colorDefault__0b482:active:not(.hideInteraction__2790e) .caret_ce50ce /* menu option active */,
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 /* add friend button */,
#app-mount .button__57d93 /* notice banner button */,
.interactive:hover /* mention hover */,
.uploadIcon__68f2c /* profile upload image */,
.focused_f6efd9 .userMenuUsername_f6de35 .userMenuText_a180af /* account switcher account hover */,
.dots_a97068 /* typing dots */,
.lookOutlined__46d54.colorWhite__43488 /* server banner buttons */,
.header__72166 /* server preview mode banner */,
.categoryItem_b1be5c.selectedCategoryItem__0bf4c,
.live_b195a5 /* streaming live */,
#app-mount .activeButton__7a550 /* member page pagination button */ ,
#app-mount .tooltipBrand__13fbc /* member page filter tooltip */ {
	color: var(--text-0);
}
#app-mount .button__57d93, .theme-light .button__57d93 /* notice banner button */,
.lookOutlined__46d54.colorWhite__43488 /* server banner buttons */ {
	border-color: var(--text-0);
}
#app-mount .button__57d93:hover {
	border-color: var(--text-0);
	background-color: var(--text-0);
}
.container__871ba /* settings checkbutton background */ {
	background: var(--bg-1) !important;
}
.container__871ba.checked__6bdb0 > .slider__41d94 > rect /* settings checkbutton circle */,
.userMenuItem__38a6a path[fill="var(--white-500)"] /* account switcher account hover */ {
	fill: var(--text-0);
}
.closeIcon_ae6326 path /* alert banner close icon */ {
	fill: currentColor;
}
.container__871ba > .slider__41d94 > rect /* settings checkbutton circle */ {
	fill: var(--text-1);
}
.mini_d6d84c .grabber_d2868c /* spotify bar handle */ {
	margin-top: 4px;
	border-width: 1px;
}
.grabber_d2868c /* settings slider handle */ {
	border-width: 0;
}
.button__66e8c.buttonColor_a6eb73 /* fix vc buttons */ {
	color: var(--text-4);
}
.button__66e8c.buttonColor_a6eb73:hover /* fix vc buttons hover */ {
	background-color: var(--hover);
	color: var(--text-3);
}
.iconBadge_fdf33a.isCurrentUserConnected_d9734f /* change server vc badge to neutral */ {
	background-color: var(--bg-1);
	color: var(--text-1);
}
.bannerVisible__191f6 .headerContent_ee8727 /* server name over banner image */,
#app-mount .categoryText_b65948 /* gif chooser category names */,
.searchTitle__66210 {
	color: white;
}
.gifIcon__5671b /* profile upload image gif chooser */ {
	background-color: white;
}
.controlIcon__25700 /* fix video maximize button */ {
	color: var(--text-1);
	opacity: 0.6;
}
.controlIcon__25700:hover /* fix video maximize button hover */ {
	opacity: 1;
}
::selection {
	background: var(--accent-4);
	color: var(--text-0);
}
.lookFilled__3dba3.select__0eb48 {
	border: none;
}
.checkbox_c7f690 /* channel checkboxes */ {
	border-color: var(--text-4) !important;
}

/* UNCOMMENT if you want to make panels evenly sized on macos 
.platform-osx .wrapper_a7e7a8 {
    margin-top: 0;
}
.platform-osx .container__037ed {
    margin-top: 32px;
} */

/* top corner title */
[class^='wordmarkWindows'] {
	padding: 4px var(--spacing);
}
[class^='wordmarkWindows'] > svg {
	display: none;
}
[class^='wordmarkWindows']::after {
	content: var(--corner-text);
	display: block;
	position: relative;
	height: 16px;
	line-height: 16px;
	font-family: var(--font);
	font-size: 13px;
	font-weight: 900;
	color: var(--text-5);
	transform: scaleX(1.2);
	margin-left: 6px;
}